CLUSTER=test
COOKIE_EXPIRE=360h
COOKIE_REFRESH=60m
COOKIE_SECURE=false
DOCKER_HOST=172.17.0.1
EMAIL_DOMAIN=sso-test.io
GOOGLE_ADMIN_EMAIL=admin@sso-test.io
GRACE_PERIOD_TTL=3h
GROUPS_CACHE_REFRESH_TTL=10m
PROVIDER=google
PROVIDER_URL=http://sso-auth.sso-test.io
PROXY_CONFIGS_FILE=/tmp/config/proxy_configs.yml
PROXY_ROOT_DOMAIN=sso-test.io
REDIRECT_URL=http://sso-auth.sso-test.io
REQUEST_TIMEOUT=2s
ROOT_DOMAIN=sso-test.io
SESSION_LIFETIME_TTL=360h
SESSION_VALID_TTL=30m
SKIP_AUTH_PREFLIGHT=true
SSO_EMAIL_DOMAIN=sso-test.io
STATSD_HOST=127.0.0.1
STATSD_PORT=8125
UPSTREAM_CONFIGS=/tmp/config/proxy_configs.yml
GOOGLE_SERVICE_ACCOUNT_JSON=/tmp/config/google-service-account.json
